*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.3rem;
}
img {
  max-width: 100%;
}
#navbar-example {
  background: #2c3e50 !important;
}
.nav-link {
  font-size: 16px !important;
}
.nav-pills .nav-link.active {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #1abc9c !important;
  padding: 10px !important;
}
.nav-pills .nav-link:hover {
  color: #1abc9c !important;
}
#offcanvasExample {
  background: #2c3e50 !important;
}
#First_portfulio {
  margin-top: 3rem;
  background: #1abc9c;
  height: 90vh;
  width: 100%;
}
#Start_btsp {
  font-size: 3.8rem;
}
.divider-line {
  height: 4px;
  width: 18%;
  background-color: #fff;
}
#divider_line2,
#divider_line3 {
  height: 4px;
  width: 10%;
  background-color: #000;
}
#Portfulio_text {
  font-size: 2.8rem;
}
#portfulio_item1,
#portfulio_item6,
#portfulio_item5,
#portfulio_item4,
#portfulio_item3,
#portfulio_item2 {
  background-image: url("/img/cabin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  width: 100%;
  color: rgba(0, 0, 0, 0);
}
#portfulio_item1:hover,
#portfulio_item6:hover,
#portfulio_item5:hover,
#portfulio_item4:hover,
#portfulio_item3:hover,
#portfulio_item2:hover {
  background: rgba(26, 188, 156, 0.7176470588);
  color: #fff;
}
#portfulio_item2 {
  background-image: url("/img/cake.png");
}
#portfulio_item3 {
  background-image: url("/img/circus.png");
}
#portfulio_item4 {
  background-image: url("/img/game.png");
}
#portfulio_item5 {
  background-image: url("/img/safe.png");
}
#portfulio_item6 {
  background-image: url("/img/submarine (1).png");
}
#About_page {
  background: #1abc9c;
  margin-top: 4rem;
  width: 100%;
  height: 80vh;
}
#divider_line3 {
  background-color: #fff;
}
#button_font:hover {
  color: #000 !important;
}
#contact_text {
  height: auto;
  width: 100%;
}
#contact_us {
  font-size: 3rem;
}
#divider_line4 {
  height: 4px;
  width: 50%;
  background-color: #000;
}
.form-floating {
  position: relative;
}
.form-floating input.form-control,
.form-floating textarea.form-control {
  background: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1.5px;
}
#Submit_btn {
  background: #1abc9c;
  color: rgba(241, 240, 240, 0.9647058824);
}
#footer_container {
  background: #2c3e50;
  height: 18rem;
  width: 100%;
}
#media_icon {
  border-radius: 100% !important;
  border-radius: 100%;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fff;
}
#Footer_section1 {
  height: 18rem;
  background: #2c3e50;
}
#footer_container2 {
  background: #000;
  color: #fff;
  overflow: hidden;
  height: 3rem;
}
#end_footer_txt {
  margin-top: 0.75rem;
}
@media screen and (max-width: 720px) {
  #Start_btsp {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 520px) {
  #Start_btsp {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 992px) {
  #Footer_section1 {
    height: 28rem !important;
    background: #2c3e50;
  }
  #AROUND_text {
    margin-top: 2rem;
  }
  #ABOUT_responsive {
    margin-top: 2.5rem;
  }
} /*# sourceMappingURL=style.min.css.map */
